skypeBot/src/main/resources/paste.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.paste.uber/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="pasterWS" targetNamespace="http://ws.paste.uber/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.paste.uber/" elementFormDefault="unqualified" targetNamespace="http://ws.paste.uber/" version="1.0">
<xs:element name="addPaste" type="tns:addPaste"/>
<xs:element name="addPasteResponse" type="tns:addPasteResponse"/>
<xs:complexType name="addPaste">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPasteResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addPaste">
    <wsdl:part element="tns:addPaste" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPasteResponse">
    <wsdl:part element="tns:addPasteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PasteWebserviceImpl">
    <wsdl:operation name="addPaste">
      <wsdl:input message="tns:addPaste" name="addPaste">
    </wsdl:input>
      <wsdl:output message="tns:addPasteResponse" name="addPasteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pasterWSSoapBinding" type="tns:PasteWebserviceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPaste">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPaste">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPasteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pasterWS">
    <wsdl:port binding="tns:pasterWSSoapBinding" name="PasteWebserviceImplPort">
      <soap:address location="http://localhost:9292/uberPaste/ws/paste"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>